:root {
  --primary: #f3f3f3;
  --secondary: #111;
  --accent: rgb(11, 104, 125);
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
}

body,
main,
section,
form,
.container {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

form,
button,
input,
select,
textarea,
optgroup,
section,
header,
main,
footer,
img,
.container,
.topBar,
.bottomBar,
.card-container {
  width: 100%;
}

summary {
  display: list-item;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

progress {
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

figure {
  margin: 1em 40px;
}

img {
  border-style: none;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

label,
button,
input,
select,
textarea,
optgroup {
  padding: 12px;
}

button,
input,
select,
textarea,
optgroup {
  border-radius: 4px;
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: bold;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

/*------Top Fixed Header--------------*/
header {
  background: var(--secondary);
  min-height: 50px;
  position: fixed;
  padding: 0 10px;
  z-index: 99;
}

/*---------Main-----------*/
main {
  min-height: 100vh;
  padding-top: 50px;
}

/*--------Section----------*/
section {
  min-height: 100vh;
}

section .container {
  padding-top: 65px;
}

/*----------Intro Section------------*/
#intro {
  min-height: 100vh;
}

.intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--accent);
  font-weight: 800;
}

.intro-icon {
  font-size: 52px;
}

/*---- Nav Icons ------------------------*/
.navIcon {
  cursor: pointer;
  float: right;
  margin-top: 10px;
  padding: 0;
  transform: scale(0.7);
}

.navIcon .bar {
  width: 100%;
  stroke: var(--primary);
  stroke-width: 4px;
  margin: 0;
}

.navIcon:hover {
  opacity: 0.6;
}

/*-----------Navigation Bar ---------------*/
.topBar,
.bottomBar {
  overflow: hidden;
}

.topBar a,
.bottomBar a {
  float: left;
  display: block;
  color: var(--primary);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.2;
}

.topBar a:hover,
.bottomBar a:hover {
  background: var(--accent);
  color: var(--primary);
}

/*-----------------Overlay --- #mobileNav-----*/
.overlay {
  height: 90vh;
  width: 100%;
  margin-top: 50px;
  position: fixed;
  z-index: 5;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: var(--primary);
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: var(--accent);
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/*---------Dropdown link--------------------*/
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--primary);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: var(--accent);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--primary);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: var(--secondary);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--accent);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*-----Cards--------------------------------*/
.card-container {
  padding: 20px;
  margin: 75px 0;
}

.card {
  max-width: 450px;
  box-shadow: -2px -2px 2px var(--accent);
  border: 0.5px solid var(--accent);
  padding: 15px;
  border-radius: 8px;
  margin: 20px;
}

.card-header {
  padding: 10px 0;
}

.card-header p {
  font-size: 20px;
  font-weight: 750;
}

.card-body {
  padding: 10px 0;
}

.card-body p {
  text-align: inline-block;
}

/*---Backgrounds-------------------------------*/
/* Dark Background Default */
.secondaryBG {
  background: var(--secondary);
  color: var(--primary);
}

/* Light Background (Default) */
.primaryBG {
  background: var(--primary);
  color: var(--light);
}

/* Accent Background */
.accentBG {
  background: var(--accent);
  color: var(--light);
}

/* White background */
.lightBG {
  background: var(--light);
  color: var(--primary);
}

/*---Box Shadows--------------------*/
/* Dark Shadow */
.box1 {
  box-shadow: 1px 1px 8px var(--secondary);
  border: none;
}

/* Light Background */
.box2 {
  box-shadow: 1px 1px 8px var(--primary);
  border: none;
}

/*---Float Right---*/
.float-R {
  float: right;
}

/*---Float Left---*/
.float-L {
  float: left;
}

/*---Even Grid Columns--------------------*/
.g2,
.g3,
.g4,
.g5,
.g6,
.g7,
.g8,
.g9,
.g10,
.g11,
.g12 {
  display: grid;
}

.g2 {
  grid-template-columns: repeat(2, 1fr);
}

.g3 {
  grid-template-columns: repeat(3, 1fr);
}

.g4 {
  grid-template-columns: repeat(4, 1fr);
}

.g5 {
  grid-template-columns: repeat(5, 1fr);
}

.g6 {
  grid-template-columns: repeat(6, 1fr);
}

.g7 {
  grid-template-columns: repeat(7, 1fr);
}

.g8 {
  grid-template-columns: repeat(8, 1fr);
}

.g9 {
  grid-template-columns: repeat(9, 1fr);
}

.g10 {
  grid-template-columns: repeat(10, 1fr);
}

.g11 {
  grid-template-columns: repeat(11, 1fr);
}

.g12 {
  grid-template-columns: repeat(12, 1fr);
}

/*---------Margin--------------------*/
.auto {
  margin: auto;
}

/* Top */
.mt-80 {
  margin-top: 80px;
}

.mt-100 {
  margin-top: 100px;
}

/* Right */
.mr-10 {
  margin-right: 10px;
}

/*------Padding-----------*/

/* Left */
.pl-10 {
  padding-left: 10px;
}

/* Right */
.pr-10 {
  padding-right: 10px;
}

/*----Transform to Center---------------*/
/* X & Y Center Div */
.centerDiv {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

/*----------Flex--------------*/
/* Display Flex */
.flex-row,
.flex-col {
  display: flex;
}

/* Flex Row */
.flex-row {
  flex-direction: row;
}

/* Flex Column */
.flex-col {
  flex-direction: column;
}

/*---------Hide Content------*/
.hide {
  display: none;
}

/*-----Text Center------*/
.center {
  text-align: center;
}

/*---Screen Sizing ------------------------------------------------------*/

/*---Width---------------------------------*/
/*-----Smaller than 516px-----*/
@media screen and (max-width: 516px) {
  .nav-list {
    display: none;
  }
}

/*-----Larger than 515px-----*/
@media screen and (min-width: 515px) {
  .navIcon {
    display: none;
  }
}

@media screen and (max-width: 762px) {
  .card-container {
    flex-direction: column;
  }

  .card {
    margin: 25px auto;
  }
}

/*---Height--------------------------------*/
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
